@import url("styles/layout.css");
@import url("styles/theme.css");
@import url("styles/diff.css");

/* Global resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Inter', sans-serif;
}